<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
</section>

<div class="container-fruid">
	<div class="row">
 		<div class="col-md-6 col-xs-6">
      どうしたものやら
		</div>
		<div class="top_table_right col-md-6 col-xs-6">
			<p>Day20_3大課題</p>
			<p>facecopt</p>
		</div>
	</div>
</div>
