// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mess_rireki {
  margin-top: 20px;
}

.mess_area {
  word-break:break-all
}

.mess_table {
  margin-top: 20px;
  padding: 20px;
  background-color: #FFF;
  border-color: #DDDFE2;
  border-bottom: solid 2px #0000ff;
  border-radius: 2px;
}

hr {
  margin: 2px;
  padding: 2px;
}
