
.topic_table_top {
  padding: 10px;
  background-color: #FFF;
  border-radius: 2px;
}

.topic_table_img {
  margin: 0px;
  background-color: #FFF;
}

.topic_table_btm{
  background-color: #F6F7F9;
  padding: 10px;
}

.topic_table_end {
  border-radius: 2px;
  margin-bottom: 20px;
}
