// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mini_avatar30 {
  max-width: 30px;
  max-height: 30px;
  object-fit: contain;
}

.list_avatar100 {
  max-width: 100px;
  max-height: 100px;
  object-fit: contain;
}

.userlist_table {
  min-height: 155px;
  max-height: 155px;
}

.row-eq-height {
    display: flex;
    flex-wrap: wrap;
    word-break:break-all
}
